.shop {
    background-color: var(--clr-active);
    .container {
        padding: var(--p-xxl) 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        &__img {
            height: 4rem;
        }

        &__title {
            text-transform: uppercase;
            color: var(--clr-txt-1);
        }
        &:last-child img {
            height: 3rem;
        }
    }
}
